[Desktop Entry]
Encoding=UTF-8
Name=Deocoin
Comment=Deocoin P2P Cryptocurrency
Comment[fr]=Deocoin, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Deocoin, eşten eşe kriptografik sanal para birimi
Exec=deocoin-qt %u
Terminal=false
Type=Application
Icon=deocoin128
MimeType=x-scheme-handler/deocoin;
Categories=Office;Finance;
